package ${packageName}.controller;

import javax.annotation.Resource;
import javax.validation.Valid;

import com.pinuc.online.common.lambda.Fields;
import com.pinuc.online.core.entity.response.Page;
import com.pinuc.online.core.entity.response.Rs;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${functionName}
 *
 * @author ${author}
 * @since ${datetime}
 */
@Slf4j
@RestController
@RequestMapping("/${businessName}")
public class ${ClassName}Controller {

    @Resource
    private ${ClassName}Service ${className}Service;

    /**
     * 新增
     *
     * @author ${author}
     * @since ${datetime}
     */
    @PostMapping("/create")
    public Rs<${ClassName}Resp> create(@RequestBody @Valid ${ClassName}Req ${className}) {
            ${ClassName}PoJoModel poJoModel = {className} Service.create(${className}.toModel());
        return Rs.ok(${ClassName}Resp.of(poJoModel));
    }

    /**
     * 获取详细信息
     * @author ${author}
     * @since ${datetime}
     */
    @GetMapping(value = "/{${pkColumn.javaField}}")
    public Rs<${ClassName}Resp> detail(@PathVariable("${pkColumn.javaField}") ${pkColumn.javaType} ${pkColumn.javaField}) {
        return Rs.ok(${ClassName}Resp.of(${className}Service.getById(${pkColumn.javaField}), ${ClassName}Resp.class));
    }

    /**
     * 查询列表
     * @author ${author}
     * @since ${datetime}
     * @return 列表信息
     */
    @GetMapping("/list")
    public Rs<List<${ClassName}Resp>> list(${ClassName}QueryReq ${className}) {
        List<${ClassName}PoJoModel> list = ${className}Service.list(
                Query${ClassName}Model.builder()
                        .build(),
                Fields.of(${ClassName}PoJoModel.class));
        return Rs.ok(${ClassName}Resp.ofList(list, ${ClassName}Resp.class));
    }


    /**
     * 分页查询
     *
     * @author ${author}
     * @since ${datetime}
     * @return 分页信息
     */
    @GetMapping("/page")
    public Rs<Page<${ClassName}Resp>> page(@Valid ${ClassName}PageReq ${className}) {
        Page<${ClassName}PoJoModel> page = ${className}Service.page(
            ${className}.getPage(),
        ${className}.getSize(),
                Query${ClassName}Model.builder()
                        .build(),
                Fields.of(${ClassName}PoJoModel.class));

        return Rs.ok(
                Page.of(
                        page.getPageNo(),
                        page.getPageSize(),
                        page.getTotalCount(),
                            ${ClassName}Resp.ofList(page.getList(), ${ClassName}Resp.class)));
    }

    /**
     * 更新
     *
     * @author ${author}
     * @since ${datetime}
     */
    @PostMapping("/update")
    public Rs<${ClassName}Resp> update(@RequestBody @Valid ${ClassName}Req ${className}) {
            ${ClassName}PoJoModel poJoModel = ${className}Service.update(${className}.toModel());
        return Rs.ok(${ClassName}Resp.of(poJoModel));
    }


    /**
     * 单个/批量删除
     * @author ${author}
     * @since ${datetime}
     */
    @PostMapping("/delete")
    public Rs<Void> remove(@RequestBody List<Long> ids) {
            ${className}Service.deleteByIds(ids);
        return Rs.ok();
    }

}
