package ${packageName}.convert;

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import java.util.List;

/**
 * 类型转换类
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${ClassName}Convert {

    ${ClassName}Convert INSTANCE = Mappers.getMapper(${ClassName}Convert.class);

    /**
     * 实体类转换为返回vo
     * @param entity 实体类
     * @return 返回vo
     */
    ${ClassName}RespVo convert(${ClassName} entity);

    /**
     * 批量实体类转换为返回vo
     * @param entities 实体类类别
     * @return 返回vo
     */
    List<${ClassName}RespVo> convertVoBatch(List<${ClassName}> entities);

    /**
     * 返回vo转换为实体类
     * @param vo 返回vo
     * @return 实体类
     */
    ${ClassName} convert(${ClassName}RespVo vo);

    /**
     * 返回vo转换为实体类
     * @param vos 返回vos
     * @return 实体类
     */
    List<${ClassName}> convertBatch(List<${ClassName}RespVo> vos);
}
