package ${packageName}.domain;

import lombok.Data;
import lombok.Builder;
import com.pinuc.online.common.entity.model.QueryModel;


/**
 * ${functionName} 接口传参实体
 *
 * @author ${author}
 * @since  ${datetime}
 */
#if($table.crud || $table.sub)
    #set($Entity="BaseEntityPlus")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@Data
@Builder
public class Query${ClassName}Model implements QueryModel {


#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
    #if($column.list)
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
    #end
    #if($column.columnName == $pkColumn.columnName)
    @TableId(type = IdType.ASSIGN_ID)
    #end
    private $column.javaType $column.javaField;
    #end
#end

#if($table.sub)
/**
 * $table.subTable.functionName信息
 */
private List<${subClassName}> ${subclassName}List;

#end

}
