package ${packageName}.domain.vo;

#foreach ($import in $importList)
import ${import};
#end
import lombok.Data;


/**
 * ${functionName} 前端响应类
 *
 * @author ${author}
 * @since  ${datetime}
 */
@Data
public class ${ClassName}Resp {

    @JsonFormat(shape = JsonFormat.Shape.STRING)
    private Long id;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
    #if($column.list)
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
    #end
    #if($column.javaType == "Date"||$column.javaType == "LocalDateTime")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    private $column.javaType $column.javaField;
    #end
#end
#if($table.sub)
/**
 * $table.subTable.functionName信息
 */
private List<${subClassName}> ${subclassName}List;

#end

    public static ${ClassName}Resp of(${ClassName}PoJoModel model) {
        return BeanUtils.copy(model, new ${ClassName}Resp());
    }

    public static List<${ClassName}Resp> ofList(List<${ClassName}PoJoModel> models) {
        return BeanUtils.copy(models, ${ClassName}Resp::new);
    }

}
