package ${packageName}.service;

import com.pinuc.online.common.service.PoJoService;

/**
 * ${functionName} Service接口
 *
 * @author ${author}
 * @since  ${datetime}
 */
public interface ${ClassName}Service extends PoJoService<${ClassName}PoJoModel> {

    /**
     * 查询列表
     *
     * @author ${author}
     * @since ${datetime}
     * @param req 查询条件
     * @param fields 查询字段
     */
    @Nonnull
    List<${ClassName}PoJoModel> list(Query${ClassName}Model req, Fields<${ClassName}PoJoModel> fields);

}
