package ${packageName}.service;

import com.pinuc.online.common.service.PoJoService;
import com.pinuc.online.order.entity.system.SysRuleModel;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @since  ${datetime}
 */
public interface ${ClassName}Service extends PoJoService<${ClassName}Model> {


}
