package ${packageName}.service.impl;

import lombok.extern.slf4j.Slf4j;
import com.alibaba.boot.hsf.annotation.HSFProvider;
import com.pinuc.online.mybatispgsql.service.DefaultPoJoService;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @since  ${datetime}
 */
@Slf4j
@HSFProvider(serviceInterface = ${ClassName}ServiceImpl.class)
public class ${ClassName}ServiceImpl extends DefaultPoJoService<${ClassName}Model, ${ClassName}, ${ClassName}Mapper> implements ${ClassName}Service {

    @Override
    protected Class<${ClassName}Model> getPoJoModelClass() {
        return ${ClassName}Model.class;
    }

}
