package ${packageName}.service;

import java.util.List;

import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {

    /**
     * 新增
     * @return 是否成功
     */
    int insert(${ClassName} ${className});

    /**
     * 删除
     * @return 是否成功
     */
    int deleteBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 删除_批量
     * @return 成功数量
     */
    int deleteBy${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * 修改
     * @return 是否成功
     */
    public int update(${ClassName} ${className});

    /**
     * 主键查询
     * @return 目标数据
     */
        ${ClassName} selectBy${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 条件查询
     * @return res
     */
    List<${ClassName}> selectList(${ClassName} ${className});

    /**
     * 新增一条数据
     */
    public int add${ClassName}(${ClassName} ${className});

    /**
     * 查询列表数据
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});


}
